*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: rgba(240, 248, 255, 0.767);
  background-image: url('./svgs/download.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
  /* background-color: rgba(2, 5, 32, 0.849); */
}
/* Dark Mode Styles */
body .dark-mode-on{
  /* background: #000; */
}
.dark-mode{
  width: 50px;
  border: 1px solid;
  background-color: white;
  position: relative  ;
  top: -2rem;
  z-index: 1000;
  left: 78rem;
}
.dark-mode input[type="checkbox"] {
  border: none;
  outline: none;
}

/* Light Mode Styles (Default) */
/* You can add light mode styles here */
